<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="ServerUsername" value="admin" />
    <add key="ServerPassword" value="admin" />
    <add key="ServerPort" value="8080" />
    <add key="ServerIsSecured" value="true" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>